## Маленькое задание по классификации

In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv('wines_classification_1.csv')

In [3]:
data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,40.000000,40.00000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000
mean,7.747500,0.42550,0.334750,4.980000,0.069800,25.625000,93.450000,0.995595,3.245000,0.587500,10.587500,5.800000
std,1.448073,0.18194,0.173086,4.166884,0.038903,15.156766,63.581141,0.002658,0.154638,0.147296,1.223737,0.790975
min,6.100000,0.17000,0.000000,1.400000,0.021000,4.000000,8.000000,0.988220,2.920000,0.380000,9.100000,4.000000
25%,6.775000,0.29250,0.257500,2.175000,0.048250,14.500000,37.750000,0.995045,3.130000,0.495000,9.500000,5.000000
50%,7.450000,0.39500,0.325000,2.875000,0.064000,23.500000,87.000000,0.996200,3.220000,0.580000,10.500000,6.000000
75%,7.900000,0.50000,0.400000,6.512500,0.082250,32.750000,141.000000,0.997315,3.355000,0.662500,11.025000,6.000000
max,12.000000,0.91500,1.000000,19.950000,0.250000,64.000000,227.000000,0.999600,3.570000,1.060000,13.600000,8.000000

Данные - уже знакомый набор данных о химическом составе испанских и португальских вин. 
В задаче классификации предстоит построить модель, которая будет по химическому составу отличать красные вина от белых.

В данные добавлен столбец color, который принимает значения red или white в зависимости от того, что это за вино.

In [4]:
data.color.value_counts()

red      21
white    19
Name: color, dtype: int64

In [5]:
data.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'color'],
      dtype='object')

In [6]:
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,color
0,7.5,0.27,0.34,2.3,0.050,4.0,8.0,0.99510,3.40,0.64,11.0,7,red
1,6.8,0.62,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6,red
2,7.8,0.34,0.37,2.0,0.082,24.0,58.0,0.99640,3.34,0.59,9.4,6,red
3,10.2,0.41,0.43,2.2,0.110,11.0,37.0,0.99728,3.16,0.67,10.8,5,red
4,8.2,0.38,0.32,2.5,0.080,24.0,71.0,0.99624,3.27,0.85,11.0,6,red

**Задача - создать классификатор, который по признакам определял бы белое вино или красное.**

Особенность - мало данных - это очень небольшое подмножество известного вам набора данных.

In [7]:
y=data['color_binary']=data['color'].map({'red': 1, 'white': 0}).values
_X=data.drop('color',axis=1)
X=_X.drop('color_binary',axis=1)

In [8]:
train, test, train_labels, test_labels = train_test_split(X,y,test_size=0.35)

In [9]:
gauss = GaussianNB()

In [16]:
gauss.fit(train, train_labels)

GaussianNB(priors=None)

In [17]:
gauss.predict(test)

array([1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1], dtype=int64)